.content-signatures {
    margin: 0px 30px 20px 30px;
}

.content-signatures p {
    font-style: italic;
    margin-bottom: 10px;
    text-align: end;
}

.content-signatures-block {
    border: none;
    display: grid;
    grid-template-columns: auto 1fr auto 1fr auto 1fr;
    grid-auto-rows: 30px;
    grid-template-rows: 30px;
    margin-bottom: 20px;
}

.content-signatures-block__signature {
    align-self: center;
    border-bottom: 1px solid #999;
    height: 1.25rem;
    margin-right: 30px;
    padding-left: 4px;
}

.content-signatures-block__checkbox {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

.content-signatures-block__checkbox label {
    margin-right: 5px;
    font-weight: 600;
}

.content-signatures-block__checkbox input {
    margin-right: 5px;
}