.content-employee {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: minmax(45px, auto) minmax(45px, auto);
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 20px;
}

.content-employee label {
    font-weight: 600;
    margin-right: 4px;
}

.content-employee select {
    padding: 4px 4px;
}

.content-employee__column-1 {
    justify-self: end;
}

.content-employee__column-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content-employee__column-2-flex {
    display: flex;
    align-items: center;
    width: auto;
}

.content-employee--styles {
    padding: 5px 4px;
    text-align: center;
    color: darkgrey;
    min-height: 28px;
    border: 1px solid darkgrey;
    border-radius: 2px;
}


#Employee {
    width: fit-content;
    min-width: 180px;
    max-width: 300px;
}

#IsWpmHox {
}

#Team {
    width: fit-content;
    min-width: 180px;
    max-width: 360px;
}

#Position {
    width: fit-content;
    min-width: 240px;
    max-width: 360px;
}

#Pid {
    width: fit-content;
    min-width: 120px;
    max-width: 180px;
}

#Workproject {
    width: fit-content;
    min-width: 75px;
    max-width: 120px;
}

#WorkprojectDescription {
    width: fit-content;
    min-width: 240px;
    max-width: 360px;
}

#Manager {
    width: fit-content;
    min-width: 240px;
    max-width: 270px;
}

#Approver {
    width: fit-content;
    min-width: 240px;
    max-width: 270px;
}