.content-advanced {
    display: flex;
    margin: 0px 30px 30px 30px;
}

.content-advanced-proposal {
    align-items: center;
    display: flex;
    justify-content: start;
    width: 50%;
}

.content-advanced-proposal input {
    margin-left: 12px;
}

.content-advanced-proposal label {
    margin-left: 5px;
}

.content-advanced-worktime {
    align-items: center;
    display: flex;
    justify-content: start;
}

.content-advanced-worktime input {
    margin-left: 12px;
    height: 30px;
    text-align: center;
    width: 60px;
}