.content-period {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-bottom: 20px;
}

.content-period__image {
}

.content-period__text {
    align-self: start;
    color: #C00000;
    font-weight: 600;
}

.content-period-center {
    display: flex;
    font-size: 26px;
    font-weight: 600;
}

.content-period-center__title {
    align-self: center;
    font-size: inherit;
    font-weight: inherit;
}

.content-period-center__period {
    background-color: rgb(220, 245, 255);
    font-size: inherit;
    font-weight: inherit;
    margin-left: 5px;
    margin-right: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
}

.content-period-center__joinder {
    align-self: center;
    font-size: inherit;
    font-weight: inherit;
}

.content-period-center__year {
    background-color: rgb(220, 245, 255);
    border: 1px solid rgb(118, 118, 118);
    font-size: inherit;
    font-weight: inherit;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    width: 80px;
}