.content-comments {
    margin: 0px 30px 20px 30px;
}

.content-comments p {
    font-weight: 600;
    margin-bottom: 5px;
}

.content-comments textarea {
    border: 1px solid #999;
    border-radius: 4px;
    outline: none;
    overflow: hidden;
    padding: 8px 4px;
    resize: none;
    vertical-align: middle;
    width: 100%;
}

.content-comments--margin {
    margin-bottom: 15px;
}