.sidebar--padding {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

.button-group {
    margin-bottom: 20px;
}

.button-group__line {
    background-color: dimgrey;
    height: 1px;
    margin-bottom: 8px;
    width: 100%;
}

.button--width {
    width: 75px;
}

.validation {
    color: #C00000;
}

.title {
    font-weight: 600;
    margin-bottom: 8px;
}

ul {
    list-style-type: none;
}