/*
    common styles for all views
*/

.cmn-button {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-right: 15px;
    padding: 4px 8px;
}

.cmn-button:is(:hover) {
    border: 1px solid black;
}
