<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment include="Development">
        <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
        <script type="text/javascript" src="~/js/form/tableClass.js"></script>
        <script type="text/javascript" src="~/js/form/textareas.js"></script>
        <script type="text/javascript" src="~/js/form/objectives-results.js"></script>
        <script type="text/javascript" src="~/js/form/ajax.js"></script>
        <script type="text/javascript" src="~/js/form/tests.js"></script>
    </environment>
    

</head>
<body>
    @RenderBody();
</body>
</html>
