/*------------------ Reset base styles for table ------------------*/

table, caption, tbody, tfoot, thead, tr, th, td {
    font: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

tbody tr:hover {
    background: #b1b2b3;
}

/*------------------ Common styling: header, body, footer ------------------------*/

.content-group--flex {
    display: flex;
    margin-bottom: 20px;
}

.column_1 th, .column_1 td {
    border: 1px solid #999;
    border-right: 0px;
    text-align: center;
}

.column_2 th, .column_2 td {
    border: 1px solid #999;
    text-align: center;
}

.content-table {
    border-collapse: collapse;
}

.content-table-form {
    margin-bottom: 30px;
    margin-left: 30px;
    margin-right: 30px;
}


.content-table--column-nth { /* row */
    min-width: 60px;
    width: auto;
}

.content-table--column-checkbox { /* checkbox */
    min-width: 30px;
    width: auto;
}

.content-table--column-employee { /* employee */
    min-width: 210px;
    width: auto;
}

.content-table--column-department { /* department */
    min-width: 120px;
    width: auto;
}

.content-table--column-team { /* team */
    min-width: 120px;
    width: auto;
}

.content-table--column-workproject { /* workproject */
    min-width: 120px;
    width: auto;
}

.content-table--column-period { /* period */
    min-width: 90px;
    width: auto;
}

.content-table--column-year { /* year */
    min-width: 90px;
    width: auto;
}

.content-table--column-datetime { /* datetime */
    min-width: 180px;
    width: auto;
}

.content-table--column-permission { /* permission */
    min-width: 240px;
    width: auto;
}


/*-------------- Header styling --------------*/

.content-table__header-row {
    height: 60px;
}

.content-table__header th {
    padding: 4px 4px;
    text-align: center;
}

/*-------------- Body styling --------------*/

.content-table__body tr {
    height: 30px;
}
