.content-select {
    display: grid;
    grid-template-columns: min-content repeat(7, auto);
    grid-template-rows: 35px 70px;
    align-items: center;
    justify-items: start;
    max-width: 1250px;
    margin-bottom: 5px;
}

.content-select-form {
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
}

.content-select label {
    margin-right: 10px;
    margin-bottom: 0px;
    justify-self: end;
}


.button {
    padding: 4px 8px;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-right: 15px;
}

.button:is(:hover) {
    border: 1px solid black;
}

.button-groups {
    display: flex;
    margin-bottom: 20px;
}

.button-groups__group {
    margin-right: 120px;
}

.button-groups__title {
    font-weight: 600;
    margin-bottom: 10px;
    font-size: 16px;
}