.content-select {
    align-items: center;
    display: grid;
    grid-template-columns: min-content repeat(7, auto);
    grid-template-rows: 35px 70px;
    justify-items: start;
    max-width: 1250px;
    margin-bottom: 5px;
}

.content-select-form {
    margin-bottom: 60px;
    margin-left: 30px;
    margin-right: 30px;
}

.content-select label {
    justify-self: end;
    margin-bottom: 0px;
    margin-right: 10px;
}

.button-group--flex {
    display: flex;
    margin-bottom: 20px;
}

.button-group--margin {
    margin-right: 120px;
}