* {
    box-sizing: border-box;
    font-family: Arial;
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

.header {
    grid-area: header;
}

.content {
    grid-area: content;
}

.footer {
    grid-area: footer;
}

.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas:
    "header"
    "content"
    "footer";
    min-height: 100vh;
}
